{% load static %}
    <!-- Formulario -->
    <form class="form-create" method="post">
        {% csrf_token %}

        
            <div class="form-group mb-2 mr-sm-2">

                {{ form.identificacion.label_tag }}
                {{ form.identificacion }}

                {{ form.nombres.label_tag }}
                {{ form.nombres }}

                {{ form.username.label_tag }}
                {{ form.username }}

                {% if message == 'Guardar'%}
                {{ form.password.label_tag }}
                {{ form.password }}
                {% endif%}

                {{ form.agencia.label_tag }}
                {{ form.agencia }}

                {{ form.email.label_tag }}
                {{ form.email }}
                  
                {{ form.is_superuser.label_tag }}
                {{ form.is_superuser }}
                

            </div>
       
        <button type="submit" class="btn btn-success">{{ message }}</button>
    </form>