{% extends 'base.html' %}
{% load static %}

{% block sinNada %}

<div class="container-fluid" style="padding-top: 35px; padding-left: 20px; padding-right: 20px;">
    <div class="card shadow">
        <div class="card-body">
          {% include 'messages.html' %}
            <h4 class="text-center"><b>Listado de usuarios</b></h4>
            
            <!-- Contenedor responsivo de Bootstrap -->
            <div class="table-responsive">
              <table id="example1" class="table table-bordered table-hover">
                  <thead class="table-secondary">
                      <tr>
                          <th>Id</th>
                          <th>Identificación</th>
                          <th>Nombres</th>
                          <th>Usuario</th>
                          <th>Agencia</th>
                          <th>Email</th>
                          <th style="width: 140px;">Tipo usuario</th>
                          <th style="width: 140px;">Estado usuario</th>
                          <th>Editar</th>
                          <th>Clave</th>
                          <th>Borrar</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for usuarios in lista_usuarios %}
                      <tr>
                          <td>{{ usuarios.id }}</td>
                          <td>{{ usuarios.identificacion }}</td>
                          <td>{{ usuarios.nombres }}</td>
                          <td>{{ usuarios.username }}</td>
                          <td>{{ usuarios.agencia }}</td>
                          <td>{{ usuarios.email }}</td>
                          {% if usuarios.is_superuser == 1 %}
                            <td>Administrador</td>
                          {% else %}
                            <td>Cliente</td>
                          {% endif %}
                          {% if usuarios.is_active == 1 %}
                            <td>Activo</td>
                          {% else %}
                            <td>Inactivo</td>
                          {% endif %}
                          <td class="text-center">
                            <a href="#" class="btn btn-info fa-solid fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#modalEditar{{ usuarios.id }}"></a>
                          </td>
                          <td class="text-center">
                            <a href="#" class="btn btn-success fa-solid fa-calendar-check" data-bs-toggle="modal" data-bs-target="#modalClave{{ usuarios.id }}"></a>
                          </td>
                          <td class="text-center">
                            <a href="#" class="btn btn-danger fa-solid fa-trash-can" data-bs-toggle="modal" data-bs-target="#modalEliminar{{ usuarios.id }}"></a>
                          </td>
                      </tr>
                      {% include 'users/modalEditar.html' %}
                      {% include 'users/modalClave.html' %}
                      {% include 'users/modalEliminar.html' %}
                  {% endfor %}
                  </tbody>
              </table>
            </div>

            <!-- Script para ordenar automáticamente -->
            <script>
            document.addEventListener("DOMContentLoaded", function() {
                setTimeout(function() {
                    $('#example1').DataTable().order([0, 'asc']).draw();
                }, 100);
            });
            </script>

        </div>
    </div>
</div>

{% endblock %}
