{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container mt-3">
  <form class="form-signin" action="" method="post">
    {% csrf_token %}  <!--para que no genere error-->
    <img class="mb-4" src="{% static 'img/logoCootep.png' %}" alt="" width="300">
    <h1 class="h3 mb-3 font-weight-normal">Login mesa de ayuda</h1>
    {% for field in form %}
        <div class="mb-3 mt-3">
    
          {{ field.label_tag }}
          {{ field }}
        
          {% if field.errors %}
          {{ field.errors }}
          {% endif %}
    
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-lg btn-success" >Iniciar sesi&oacute;n</button>  <!-- style="background-color:rgb(4,105,4);" -->
        <br><br>
        <a class="" href="#">Recordar contraseña</a>
        <br>
        {% include 'messages.html' %}

        <footer>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <p class="CopyRight text-muted">All Copyright <span id="anio_actual"></span> &copy; COOTEP <br> Diseñado por Ing de sistemas Maicol Yela</p>
                </div>
            </div>
        </footer>  
  </form>
  <script src="{% static 'js/anio.js' %}"></script>
</div>
{% endblock %}