<div class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <form method="post" action="{% url 'updateusuarios' %}">
        {% csrf_token %}
        <input type="hidden" name="id" id="edit_id">

        <div class="modal-header">
          <h5 class="modal-title">Editar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <input class="form-control mb-2" id="edit_identificacion" name="identificacion" placeholder="Identificación">
          <input class="form-control mb-2" id="edit_nombres" name="nombres" placeholder="Nombres">
          <input class="form-control mb-2" id="edit_username" name="username" placeholder="Usuario">
          <input class="form-control mb-2" id="edit_email" name="userEmail" placeholder="Email">

          <select class="form-control mb-2" id="edit_agencia" name="agencia">
            <option value="MOCOA">Mocoa</option>
            <option value="PUERTO ASIS">Puerto Asís</option>
            <option value="DORADA">Dorada</option>
            <option value="HORMIGA">Hormiga</option>
            <option value="ORITO">Orito</option>
            <option value="VILLA GARZON">Villa Garzón</option>
            <option value="PUERTO LEGUIZAMO">Puerto Leguízamo</option>
            <option value="SIBUNDOY">Sibundoy</option>
          </select>

          <select class="form-control mb-2" id="edit_superuser" name="tipousuario">
            <option value="1">Administrador</option>
            <option value="0">Cliente</option>
          </select>

          <select class="form-control mb-2" id="edit_active" name="estado">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>

        </div>

        <div class="modal-footer">
          <button class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>

      </form>

    </div>
  </div>
</div>
