<!-- Modal Eliminar -->
<div class="modal fade" id="modalEliminar{{ usuarios.id }}" tabindex="-1" aria-labelledby="modalEliminarLabel{{ usuario.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEliminarLabel{{ usuario.id }}">Eliminar Usuarios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Confirmación de eliminación -->
        <form action="{% url 'deleteusuarios' %}" method="post">
          {% csrf_token %}

          <div id="miDiv" class="form-inline col-sm-12 mt-3" style="display: none;">
              <label class="control-label col-sm-4" for="id"><h5>id</h5></label>
              <input readonly minlength="4" type="text" class="form-control col-sm-7" name="id" value="{{ usuarios.id }}">
          </div>  
          
        <p style="font-size: 22px;">¿Estás seguro en eliminar el usuario <b>{{ usuarios.username }}</b>?</p>
        <h5>Recuerde que este proceso es irreversible.</h5>
         
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary ">Eliminar</button>   <!-- btnEditar para activar los alerts de js -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        
      </div>
        </form>
    </div>
  </div>
</div>