{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">


    <h1>{{ requerimiento.titulo }}</h1>
    <p>{{ requerimiento.descripcion }}</p>
    <p>{{ requerimiento.clasificacion }} - {{ requerimiento.sub_clasificacion }}</p>
    <p>Estado: {{ requerimiento.estado }}</p>
    <p>Adjunto:
        {% if requerimiento.adjunto %}
            <a href="{{ requerimiento.adjunto.url }}" download>{{ requerimiento.adjunto.name }}</a>
        {% else %}
            No hay adjunto disponible
        {% endif %}
    </p>
    <h2>Comentarios</h2>
    <ul>
        {% for detalle in detalles %}
        <li>{{ detalle.usuario.username }}: {{ detalle.comentario }}
            {% if detalle.adjunto %}
                <a href="{{ detalle.adjunto.url }}" download>{{ detalle.adjunto.name }}</a>
            {% endif %}
            ({{ detalle.fecha }})
        </li>
        {% endfor %}
    </ul>
    <h3>Agregar Comentario</h3>
    <form class="form-create" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ detalle_form.as_p }}
        <button type="submit" class="btn btn-success btnEditar1_" style="background-color:rgb(4,105,4);">Crear</button>
    </form>

{% endblock %}