{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<link rel="stylesheet" href="{% static 'css/configuracion.css' %}">

<style>
    td.adjunto {
    max-width: 150px;   /* ancho máximo fijo */
    white-space: nowrap; /* evita salto de línea */
    overflow: hidden;    /* oculta el texto que sobra */
    text-overflow: ellipsis; /* agrega ... al final */
}
</style>

<h2>Detalle de requerimiento</h2>
<div class="configuracion">
<table class="table table-bordered table-hover tabla-detalle">
    <thead>
        <tr>
            <th>Id</th>
            <td>{{ requerimiento.id }}</td>
        </tr>
        <tr>
            <th>Titulo</th>
            <td>{{ requerimiento.titulo }}</td>
        </tr>
        <tr>
            <th>Clasificación</th>
            <td>{{ requerimiento.clasificacion }}</td>
        </tr>
        <tr>
            <th>Sub-Clasificación</th>
            <td>{{ requerimiento.sub_clasificacion }}</td>
        </tr>
        <tr>
            <th>Agencia</th>
            <td>{{ requerimiento.agencia }}</td>
        </tr>
        <tr>
            <th>Estado</th>
            {% if requerimiento.estado == "ACTIVO" %}
            <td><span class="badge bg-success">{{ requerimiento.estado }}</td>
            {% elif requerimiento.estado == "CERRADO" %}
            <td><span class="badge bg-danger">{{ requerimiento.estado }}</td>
            {% elif requerimiento.estado == "EN TRAMITE" %}
            <td><span class="badge bg-warning text-dark">{{ requerimiento.estado }}</td>
            {% else %}
            <td><span class="badge bg-info">{{ requerimiento.estado }}</td>
            {% endif %}
        </tr>
        <tr>
            <th>Usuario</th>
            <td>{{ requerimiento.usuario.username }}</td>
        </tr>
        <tr>
            <th>Nombres</th>
            <td>{{ requerimiento.usuario.nombres }}</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
</div>

<p>
    <a href="{% url 'agregar_novedad' requerimiento.id %}" class="btn btn-info">Agregar novedad</a>
    
    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalCerrar{{ requerimiento.id }}">Cerrar caso</a>
    {% include 'requerimientos/modalEliminarRequerimiento.html' %}
    
</p>

<table id="example1" class="table table-bordered table-hover">
    <thead class="table-secondary">
        
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Adjunto</th>
            <th>Usuario</th>
            <th>Nombres</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ requerimiento.fecha }}</td>
            <td>{{ requerimiento.descripcion}}
                
                {% comment %}
                {{ requerimiento.descripcion|truncatechars:210 }}
                {% if requerimiento.descripcion|length > 210 %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalVerMas{{ requerimiento.id }}">Ver más</a>
                    {% include 'requerimientos/modalVerMas.html' with detalle=requerimiento %}
                {% endif %}
                {% endcomment %}

            </td>

            <td class="adjunto">
                {% if requerimiento.adjunto %}
                    <a href="{{ requerimiento.adjunto.url }}" download>{{ requerimiento.adjunto.name }}</a>
                {% else %}
                    No hay adjunto disponible
                {% endif %}
            </td>
            <td>{{ requerimiento.usuario.username }}</td>
            <td>{{ requerimiento.usuario.nombres }}</td>
        </tr>
        {% for detalle in detalles %}
        <tr>
            <td>{{ detalle.fecha }}</td>
            <td>{{ detalle.comentario }}</td>
            <td class="adjunto">
                {% if detalle.adjunto %}
                    <a href="{{ detalle.adjunto.url }}" download>{{ detalle.adjunto.name }}</a>
                {% else %}
                    No hay adjunto disponible
                {% endif %}
            </td>
            <td>{{ detalle.usuario.username }}</td>
            <td>{{ detalle.usuario.nombres }}</td>
            {% include 'requerimientos/modalVerMas.html' %}

        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Script para ordenar automáticamente -->
 <script src="{% static 'js/ordenar.js' %}"></script>

{% endblock %}