{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<script src="{% static 'js/requerimientos.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/configuracion.css' %}">

<div class="container mt-4">
  <h2>Editar Requerimiento: {{ requerimiento.id }}</h2>
  <br>
  <form class="form-create" method="post">
    {% csrf_token %}

    <div class="configuracion">
      <table class="table table-bordered table-hover tabla-detalle">
        <thead>
          <tr>
            <th>Titulo</th>
            <td>{{ requerimiento.titulo }}</td>
          </tr>
          <tr>
            <th>Descripcion</th>
            <td>{{ requerimiento.descripcion|truncatechars:210 }}
              {% if requerimiento.descripcion|length > 210 %}
              <a href="#" data-bs-toggle="modal" data-bs-target="#modalVerMas{{ requerimiento.id }}">Ver más</a>
              {% endif %}
            </td>
          </tr>
        </thead>
        <tbody></tbody>
        {% include 'requerimientos/modalVerMas.html' %}
      </table>
    </div>
    <br>

    <div class="form-group">
      {{ form.agencia.label_tag }}
      {{ form.agencia }}
    </div>

    <div class="form-group">
      {{ form.clasificacion.label_tag }}
      {{ form.clasificacion }}
    </div>

    <div class="form-group">
      <label for="sub_clasificacion">Sub clasificación:</label>
      <select id="sub_clasificacion" name="sub_clasificacion" class="form-control"
              data-current="{{ form.sub_clasificacion.value }}">
      </select>
    </div>

    <div class="form-group">
      {{ form.estado.label_tag }}
      {{ form.estado }}
    </div>

    <div class="form-group">
      {{ form.usuario.label_tag }}
      {{ form.usuario }}
    </div>

    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <a href="{% url 'listar_requerimientos' %}" class="btn btn-danger">Cancelar</a>
  </form>
</div>



{% endblock %}
