{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<script src="{% static 'js/requerimientos.js' %}" defer></script>

<div class="container mt-4">
  <h2>Editar Requerimiento: {{ requerimiento.id }}</h2>
  <form class="form-create" method="post">
    {% csrf_token %}

    <div class="form-group">
      {{ form.agencia.label_tag }}
      {{ form.agencia }}
    </div>

    <div class="form-group">
      {{ form.clasificacion.label_tag }}
      {{ form.clasificacion }}
    </div>

    <div class="form-group">
      <label for="sub_clasificacion">Sub clasificación:</label>
      <select id="sub_clasificacion" name="sub_clasificacion" class="form-control"
              data-current="{{ form.sub_clasificacion.value }}">
      </select>
    </div>

    <div class="form-group">
      {{ form.estado.label_tag }}
      {{ form.estado }}
    </div>

    <div class="form-group">
      {{ form.usuario.label_tag }}
      {{ form.usuario }}
    </div>

    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <a href="{% url 'listar_requerimientos' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>



{% endblock %}
