{% extends 'base.html' %}
{% load static %}

{% block sinNada %}
<div class="container-fluid" style="padding-top: 35px;padding-left: 50px;padding-right: 50px;">
    <div class="card shadow table-responsive">
        <div class="card-body table-responsive">
          {% include 'messages.html' %}
            <h4 style="text-align: center;"><b>Listado de requerimientos</b></h4>
            <table id="example1" class="table table-bordered table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th class="sorting sorting_asc">Id</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Agencia</th>
                        <th>Clasificación</th>
                        <th>Sub Clasificación</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Detalles</th>
                        <th>Agregar novedad</th>
                        <th>Cerrar caso</th>
                    </tr>
                </thead>
                <tbody>
                {% for requerimiento in requerimientos %}
                    <tr>
                        <td>{{ requerimiento.id }}</td>
                        <td>{{ requerimiento.titulo }}</td>
                        <td>
                            {{ requerimiento.descripcion|truncatechars:210 }} <!-- Muestra solo los primeros 100 caracteres -->
                            {% if requerimiento.descripcion|length > 210 %} 
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalVerMas{{ requerimiento.id }}">Ver más</a>
                            {% endif %}
                        </td>
                        <td>{{ requerimiento.agencia }}</td>
                        <td>{{ requerimiento.clasificacion }}</td>
                        <td>{{ requerimiento.sub_clasificacion }}</td>
                        <td>{{ requerimiento.estado }}</td>
                        <td>{{ requerimiento.usuario.username }}</td>
                        <td>{{ requerimiento.fecha }}</td>
                        <td style="text-align: center;">
                            <a href="{% url 'detalle_requerimiento' requerimiento.id %}" class="btn btn-success fa-solid fa-calendar-check"></a>
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url 'agregar_novedad' requerimiento.id %}" class="btn btn-info fa-solid fa-check"></a>
                        </td>
                        
                        <td style="text-align: center;">
                            <a href="#" class="btn btn-danger fa-solid fa-xmark" data-bs-toggle="modal" data-bs-target="#modalCerrar{{ requerimiento.id }}"></a>
                        </td>
                        

                        {% include 'requerimientos/modalDetalleRequerimiento.html' %}
                        {% include 'requerimientos/modalAgregarNovedad.html' %}
                        {% include 'requerimientos/modalEliminarRequerimiento.html' %}
                        {% include 'requerimientos/modalVerMas.html' %}
                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
