<!-- Este template funciona con el ccs modalTabla.css  y con el archivo js modalBotones.js-->
 
<!-- Inicio Modal Editar -->
<div class="modal fade" id="modalDetalleRequerimiento{{ requerimiento.id }}" tabindex="-1" aria-labelledby="modalEditarLabel{{ requerimiento.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Inicio Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarLabel{{ requerimiento.id }}">Detalle del Requerimiento #{{ requerimiento.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Final Modal Header -->

      <!-- Inicio Modal Body -->
      <div class="modal-body">
        <!-- Tabla de requerimientos -->
        <div class="table-div" id="table-div-{{ requerimiento.id }}">
          <!-- Datos del Requerimiento -->
          <div class="table-row table-header">
            <div class="table-cell">Fecha</div>
            <div class="table-cell">Descripción</div>
            <div class="table-cell">Adjunto</div>
            <div class="table-cell">Usuario</div>
          </div>
          <div class="table-row requerimiento-principal">
            <div class="table-cell">{{ requerimiento.fecha }}</div>
            <div class="table-cell">{{ requerimiento.descripcion }}</div>
            <div class="table-cell">
              {% if requerimiento.adjunto %}
              <a href="{{ requerimiento.adjunto.url }}" download>{{ requerimiento.adjunto.name }}</a>
              {% else %}
                  No hay adjunto disponible
              {% endif %}
            </div>
            <div class="table-cell">{{ requerimiento.usuario.username }}</div>
          </div>

          <!-- Detalles del Requerimiento -->
          {% for detalle in requerimiento.detalles.all %}
          <div class="table-row detalle-row-{{ requerimiento.id }}" style="display: none;">
            <div class="table-cell">{{ detalle.fecha }}</div>
            <div class="table-cell">{{ detalle.comentario }}</div>
            <div class="table-cell">
              {% if detalle.adjunto %}
                <a href="{{ detalle.adjunto.url }}" download>{{ detalle.adjunto.name }}</a>
              {% else %}
                No hay adjunto disponible
              {% endif %}
            </div>
            <div class="table-cell">{{ detalle.usuario.username }}</div>
          </div>
          {% endfor %}
        </div>
        <!-- Paginación -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mt-3" id="pagination-{{ requerimiento.id }}">
            <!-- Paginación generada por JavaScript -->
          </ul>
        </nav>
        <div class="range-info text-center" id="range-info-{{ requerimiento.id }}"></div>
      </div>
      <!-- Final Modal Body -->
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Final Modal Editar -->