<style>
  .table-div {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-row {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  .table-cell {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table-header {
    font-weight: bold;
    background-color: #f2f2f2;
  }
</style>
<!-- Inicio Modal Editar -->
<div class="modal fade" id="modalDetalleRequerimiento{{ requerimiento.id }}" tabindex="-1" aria-labelledby="modalEditarLabel{{ requerimiento.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Inicio Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarLabel{{ requerimiento.id }}">Detalle del Requerimiento #{{ requerimiento.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Final Modal Header -->

      <!-- Inicio Modal Body -->
      <div class="modal-body">
        <!-- Tabla de requerimientos -->
        <div class="table-div">
          <!-- Datos del Requerimiento -->
          <div class="table-row table-header">
            <div class="table-cell">Fecha</div>
            <div class="table-cell">Descripción</div>
            <div class="table-cell">Adjunto</div>
            <div class="table-cell">Usuario</div>
          </div>
          <div class="table-row">
            <div class="table-cell">{{ requerimiento.fecha }}</div>
            <div class="table-cell">{{ requerimiento.descripcion }}</div>
            <div class="table-cell">
              {% if requerimiento.adjunto %}
              <a href="{{ requerimiento.adjunto.url }}" download>{{ requerimiento.adjunto.name }}</a>
              {% else %}
                  No hay adjunto disponible
              {% endif %}
            </div>
            <div class="table-cell">{{ requerimiento.usuario.username }}</div>
          </div>

          <!-- Detalles del Requerimiento -->
          <div class="table-row table-header mt-3">
            <div class="table-cell">Fecha</div>
            <div class="table-cell">Descripcion</div>
            <div class="table-cell">Adjunto</div>
            <div class="table-cell">Usuario</div>
          </div>
          {% for detalle in requerimiento.detalles.all %}
          <div class="table-row">
            <div class="table-cell">{{ detalle.fecha }}</div>
            <div class="table-cell">{{ detalle.comentario }}</div>
            <div class="table-cell">
              {% if detalle.adjunto %}
                <a href="{{ detalle.adjunto.url }}" download>{{ detalle.adjunto.name }}</a>
              {% else %}
                No hay adjunto disponible
              {% endif %}
            </div>
            <div class="table-cell">{{ detalle.usuario.username }}</div>
          </div>
          {% endfor %}
        </div>
        <!-- Paginación -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mt-3">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">«</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
              <a class="page-link" href="#">»</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Final Modal Body -->
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Final Modal Editar -->