<!-- Modal Cerrar Requerimiento -->
<div class="modal fade" id="modalCerrar{{ requerimiento.id }}" tabindex="-1" aria-labelledby="modalCerrarLabel{{ requerimiento.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCerrarLabel{{ requerimiento.id }}">Cerrar requerimiento {{ requerimiento.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Confirmación de cierre -->
        <form action="{% url 'cerrar_requerimiento' requerimiento.id %}" method="post">
          {% csrf_token %}
          
          <div id="miDiv" class="form-inline col-sm-12 mt-3" style="display: none;">
              <label class="control-label col-sm-4" for="id"><h5>ID</h5></label>
              <input readonly minlength="4" type="text" class="form-control col-sm-7" name="id" value="{{ requerimiento.id }}">
          </div>

          <p style="font-size: 20px;">¿Estás seguro que deseas cerrar el requerimiento <b>{{ requerimiento.id }}</b>?</p>
          <h5>Recuerde que este proceso es irreversible.</h5>
         
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Cerrar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      </div>
        </form>
    </div>
  </div>
</div>