<style>
  .table-div {
    display: flex; /* Utiliza el modelo de flexbox para el diseño de la tabla */
    flex-direction: column; /* Coloca los elementos hijos en una columna */
    border-collapse: collapse; /* Elimina los espacios entre los bordes de las celdas */
    width: 100%; /* Hace que la tabla ocupe el 100% del ancho disponible */
  }

  .table-row {
    display: flex; /* Utiliza el modelo de flexbox para el diseño de las filas */
    width: 100%; /* Hace que cada fila ocupe el 100% del ancho disponible */
    border: 1px solid #ddd; /* Agrega un borde de 1px color gris claro a cada fila */
    flex-wrap: wrap; /* Permite que las celdas se envuelvan si es necesario */
  }

  .table-cell {
    flex: 1; /* Hace que cada celda crezca uniformemente para llenar la fila */
    padding: 8px; /* Agrega un relleno de 8px dentro de cada celda */
    border: 1px solid #ddd; /* Agrega un borde de 1px color gris claro a cada celda */
    min-width: 100px; /* Establece un ancho mínimo de 100px para cada celda */
    word-wrap: break-word; /* Permite que las palabras largas se dividan y se envuelvan a la siguiente línea */
  }

  .table-header {
    font-weight: bold; /* Hace que el texto en las celdas de encabezado sea negrita */
    background-color: #f2f2f2; /* Establece un color de fondo gris claro para las celdas de encabezado */
  }

  @media (max-width: 768px) {
    .table-cell {
      flex: 1 1 100%; /* En pantallas pequeñas, hace que cada celda ocupe el 100% del ancho disponible */
    }
  }
</style>


<!-- Inicio Modal Editar -->
<div class="modal fade" id="modalDetalleRequerimiento{{ requerimiento.id }}" tabindex="-1" aria-labelledby="modalEditarLabel{{ requerimiento.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Inicio Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarLabel{{ requerimiento.id }}">Detalle del Requerimiento #{{ requerimiento.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Final Modal Header -->

      <!-- Inicio Modal Body -->
      <div class="modal-body">
        <!-- Tabla de requerimientos -->
        <div class="table-div" id="table-div-{{ requerimiento.id }}">
          <!-- Datos del Requerimiento -->
          <div class="table-row table-header">
            <div class="table-cell">Fecha</div>
            <div class="table-cell">Descripción</div>
            <div class="table-cell">Adjunto</div>
            <div class="table-cell">Usuario</div>
          </div>
          <div class="table-row requerimiento-principal">
            <div class="table-cell">{{ requerimiento.fecha }}</div>
            <div class="table-cell">{{ requerimiento.descripcion }}</div>
            <div class="table-cell">
              {% if requerimiento.adjunto %}
              <a href="{{ requerimiento.adjunto.url }}" download>{{ requerimiento.adjunto.name }}</a>
              {% else %}
                  No hay adjunto disponible
              {% endif %}
            </div>
            <div class="table-cell">{{ requerimiento.usuario.username }}</div>
          </div>

          <!-- Detalles del Requerimiento -->
          {% for detalle in requerimiento.detalles.all %}
          <div class="table-row detalle-row-{{ requerimiento.id }}" style="display: none;">
            <div class="table-cell">{{ detalle.fecha }}</div>
            <div class="table-cell">{{ detalle.comentario }}</div>
            <div class="table-cell">
              {% if detalle.adjunto %}
                <a href="{{ detalle.adjunto.url }}" download>{{ detalle.adjunto.name }}</a>
              {% else %}
                No hay adjunto disponible
              {% endif %}
            </div>
            <div class="table-cell">{{ detalle.usuario.username }}</div>
          </div>
          {% endfor %}
        </div>
        <!-- Paginación -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mt-3" id="pagination-{{ requerimiento.id }}">
            <!-- Paginación generada por JavaScript -->
          </ul>
        </nav>
        <div class="range-info text-center" id="range-info-{{ requerimiento.id }}"></div>
      </div>
      <!-- Final Modal Body -->
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Final Modal Editar -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const itemsPerPage = 5; // Define el número de elementos por página

    document.querySelectorAll('.modal').forEach(modal => {
      const modalId = modal.getAttribute('id').replace('modalDetalleRequerimiento', ''); // Obtiene el ID del modal
      const rows = document.querySelectorAll(`.detalle-row-${modalId}`); // Selecciona las filas de detalles
      const totalItems = rows.length + 1; // Incluye el requerimiento principal en el conteo total
      const totalPages = Math.ceil(totalItems / itemsPerPage); // Calcula el número total de páginas
      const pagination = document.getElementById(`pagination-${modalId}`); // Elemento de paginación
      const rangeInfo = document.getElementById(`range-info-${modalId}`); // Información de rango de registros
      const requerimientoPrincipal = document.querySelector(`#table-div-${modalId} .requerimiento-principal`); // Fila del requerimiento principal

      // Función para actualizar la información de rango
      function updateRangeInfo(page, totalItems, itemsPerPage) {
        const start = (page - 1) * itemsPerPage + 1;
        const end = Math.min(start + itemsPerPage - 1, totalItems);
        rangeInfo.textContent = `${start} - ${end} de ${totalItems} registros`;
      }

      // Función para mostrar la página seleccionada
      function showPage(page) {
        const start = (page - 1) * itemsPerPage;
        const end = start + itemsPerPage;

        // Muestra el requerimiento principal y los primeros detalles en la primera página
        if (page === 1) {
          requerimientoPrincipal.style.display = 'flex';
          rows.forEach((row, index) => {
            row.style.display = (index < itemsPerPage - 1) ? 'flex' : 'none';
          });
        } else { // Muestra solo los detalles en las páginas siguientes
          requerimientoPrincipal.style.display = 'none';
          rows.forEach((row, index) => {
            row.style.display = (index >= start - 1 && index < end - 1) ? 'flex' : 'none';
          });
        }

        // Limpia la paginación actual
        pagination.innerHTML = '';

        // Botón para la primera página
        const firstPageItem = document.createElement('li');
        firstPageItem.className = 'page-item' + (page === 1 ? ' disabled' : '');
        const firstPageLink = document.createElement('a');
        firstPageLink.className = 'page-link';
        firstPageLink.textContent = 'Primero';
        firstPageLink.href = '#';
        firstPageLink.addEventListener('click', (e) => {
          e.preventDefault();
          showPage(1);
        });
        firstPageItem.appendChild(firstPageLink);
        pagination.appendChild(firstPageItem);

        // Botón para la página anterior
        const prevPageItem = document.createElement('li');
        prevPageItem.className = 'page-item' + (page === 1 ? ' disabled' : '');
        const prevPageLink = document.createElement('a');
        prevPageLink.className = 'page-link';
        prevPageLink.textContent = 'Anterior';
        prevPageLink.href = '#';
        prevPageLink.addEventListener('click', (e) => {
          e.preventDefault();
          showPage(page - 1);
        });
        prevPageItem.appendChild(prevPageLink);
        pagination.appendChild(prevPageItem);

        // Botones para las páginas
        for (let i = 1; i <= totalPages; i++) {
          const li = document.createElement('li');
          li.className = 'page-item' + (i === page ? ' active' : '');
          const a = document.createElement('a');
          a.className = 'page-link';
          a.textContent = i;
          a.href = '#';
          a.addEventListener('click', (e) => {
            e.preventDefault();
            showPage(i);
          });
          li.appendChild(a);
          pagination.appendChild(li);
        }

        // Botón para la siguiente página
        const nextPageItem = document.createElement('li');
        nextPageItem.className = 'page-item' + (page === totalPages ? ' disabled' : '');
        const nextPageLink = document.createElement('a');
        nextPageLink.className = 'page-link';
        nextPageLink.textContent = 'Siguiente';
        nextPageLink.href = '#';
        nextPageLink.addEventListener('click', (e) => {
          e.preventDefault();
          showPage(page + 1);
        });
        nextPageItem.appendChild(nextPageLink);
        pagination.appendChild(nextPageItem);

        // Botón para la última página
        const lastPageItem = document.createElement('li');
        lastPageItem.className = 'page-item' + (page === totalPages ? ' disabled' : '');
        const lastPageLink = document.createElement('a');
        lastPageLink.className = 'page-link';
        lastPageLink.textContent = 'Último';
        lastPageLink.href = '#';
        lastPageLink.addEventListener('click', (e) => {
          e.preventDefault();
          showPage(totalPages);
        });
        lastPageItem.appendChild(lastPageLink);
        pagination.appendChild(lastPageItem);

        // Actualiza la información de rango
        updateRangeInfo(page, totalItems, itemsPerPage);
      }

      // Muestra la primera página por defecto
      showPage(1);
    });
  });
</script>